.footer {
  margin-top: 3rem;
  p {
    color: #adadad;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  @media (min-width: 22rem) {
      font-size: .85rem;

      p {
        //   color: #fafafa;
          margin-bottom: 0;
      }

  }

}
